
.navbar-brand {
    margin-left: 14px;
    font-size: 1.5rem;
  }
  body {
    background-image:url('../images/body1.png');
    font-family:'Ropa Sans', sans-serif;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .nav-item {
    border-right: 1px solid #555;
  }
  
  .nav-item:last-child {
    border-right: none;
    margin-right: 10px;
  }
  
  nav-item:hover {
    color: #4aaaa5;
  }
  
  .main-section {
    margin: 30px;
    display: flex;
    justify-content: center;
  }
  
  .main-section h1 {
    font-size: 2rem;
    color: #444;
    padding-bottom: 25px;
    border-bottom: 2px solid #999;
    max-width: 960px;
  }
  
  .image-text {
    display: block;
    max-width: 960px;
    padding-top: 20px;
  }
  
.panel-footer {
	background-color: #666666;
	color: white;
	text-align: center;
	border-top: 10pt solid #4aaaa5;
}
  #profile_pic {
    width: 250px;
    height: 250px;
  }
  #class-work {
    width: 100px;
    height: 100px;
  }
  h3{
    color: #444;
  }

  #connect-icons {
    width: 125px;
    height: 125px;
    margin-left:85%;
  }
  #connect-icon {
    width: 125px;
    height: 125px;
  }
  p {
    color: #6c757d;
    line-height: 175%;
}
  img {
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .panel panel-defaul{
    float: left;
  }
  
  .container {
    max-width: 1200px;
  }
  
  .container img {
    width: 80%;
  }
  
  .col-lg, .col-lg-6 img{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
  }
  
  .col-lg-6 img {
    padding-bottom: 50px;
  }
  
  p {
    line-height: 1.5rem;
  }
  
  .image-text p:last-child {
    padding-bottom: 50px;
  }
  
  form {
    width: 960px;
  }
  
  .btn-primary {
    background-color: #444;
    border-color: #444;
    margin-bottom: 50px;
  }
  
  footer {
    background: #343a40;
    padding: 15px;
    width: 100%;
    font-family: "Roboto", Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    font-size: .75rem;
    position: fixed;
    bottom: 0;
  }
  
  @media only screen and (max-width: 980px) {
    form {
      max-width: 560px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    nav {
      display: flex;
      flex-direction: column;
    }
  
    .image-text {
      display: flex;
      flex-direction: column;
    }
  
    img {
      width: 100%;
    }
}
@media screen and (max-width: 768px){
    /* removing the hover description as bootstrap clicks in larger picture sizes*/
    body .projectDesc{
        color: #ffffff;
    }

    
}

@media screen and (max-width: 991px){
    .projectDesc {
       color: transparent;
       position: relative;
    }
 
    .projectDesc:hover {
        visibility: visible;
        color: #ffffff;  
        background-color:#cccccc;
        z-index: inherit 999;;
        display: block;
        border-radius: 6px;
        padding:0px 5px 0px 5px;
        position: absolute;
        float: left;
    }
}

@media screen and (max-width: 600px){
    h1 {
        margin: 0px 0px 8px 8px;
    }
    .navbar {
        float: none;
        display: flex;
        justify-content: center;
    }
    .nav-item {
        justify-content:center;
        margin-bottom: 8px;
    }

}
@media screen and (max-width: 320px){
    .navbar{
        padding: 0px 0px 0px 0px;
    }
    .nav-item {
        margin: 0px 0px 0px 0px;    
    }
    h1 {
        margin: 0px 0px 0px 0px;   
    }
}